*.log
wp-admin/
wp-content/
wp-includes/

/*.php
/*.html
/*.shtml
/.htaccess
/.ftpquota
/error_log
/license.txt
/sitemap.xml
/sitemap.xml.gz

.idea/
*.iml

prettyphoto/
sandbox/

!/wp-content/themes/Startup/scripts/register_form/
!/wp-content/themes/Startup/styles/register_form/
